<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>首页</h1>
    <!-- 显示呢称 -->
    <h2>昵称：{{nickname}}</h2>
    <h3>身高标准：{{if lmj.height>170}} 正常{{else}}矮子{{/if}}</h3>
    <label for="live">爱好</label>
     {{each like}}
    <input type="checkbox" id="live" value="{{$index}}">{{$value}}
    {{/each}}
</body>
</html>